

*,*::before,*::after {
 box-sizing :border-box;
 margin : 0 ;/*pas de marge*/
 padding : 0;
 outline: none;
 font-family: 'Times New Roman', Times, serif;
}

body {
  
  background-color: white;
}

.container {
  height: 100vh;
  width:100%;
  
  padding: 0 8% ;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding:5px 0 ;
}
nav ul{
  display: flex;
  justify-content: flex-end;
  flex: 1;
  padding-right: 40px;
  text-align: right;
  list-style-type: none;
}
 ul li {
  margin-right: 10px;
 }

 ul li a {
  position: relative;
  padding: 10px 20px;
  text-decoration:none ;
  font-size: 30px;
  font-weight: 10;
  color:rgb(51, 51, 51);
  margin-bottom: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 ul li a::after{
  content: '';
  background:#768ab7;
  position : absolute;
  bottom : 0;
  right: 0;
  width: 0;
  height:3px ;
  transform: translate(-50%,-5px);
  transition: 0.3s;
 }

 ul li a:hover:after{
  width : 38%
 }

.p1{
  height: 100px;
  width: 20%;
  background-color: #88c5c5;
  background: #88c5c5;
  border-width: 2px;
  border-style: solid ;
  color : #88c5c5;
  margin-top: 20%;
}

.p2{
  height: 100px;
  width: 50%;
  background-color: #629ACC;
  background: #629ACC;
  border-width: 2px;
  border-style: solid ;
  color : #629ACC;
  margin-left: 40%;
}

.p3{
  height: 100px;
  width: 50%;
  background-color: #768ab7;
  background: #768ab7;
  border-width: 2px;
  border-style: solid ;
  color : #768ab7;
  margin-left: 40%;
}

.p4{
  height: 100px;
  width: 20%;
  background-color: #88c5c5;
  background: #88c5c5;
  border-width: 2px;
  border-style: solid ;
  color : #88c5c5;
  margin-top: 10%;
} 
 
.p6{
  height:100px;
  width: 70%;
  background-color: white;
  border-width: 2px;
  border-style: none;
  color : black;
  margin-left: auto;
  margin-top: -100px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  text-align: center;
  
}
.start.btn{
  position : absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,50%)


}
.start_btn button{
  font-size: 15px ;
  font-weight : 500;
  color : rgb(28, 175, 28);
  outline: none;
}

