.Questions 
 {
     color: blue; 
}

.Propositions
{
color:black;
}

.Bonnes_Réponses
{
    color: green;
}

.Moyennes_Réponses
{
    color: yellow;
}

.Mauvaises_Réponses
{
    color: red;
}

.Bouton
{
    height: 50px;
    width: 100px;
    padding: 1em;
    box-shadow: 12px 12px 2px green;
    margin: 5% 2%;
    border-radius: 35px;
}
